In [58]:
import numpy as np 
import pandas as pd

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sample_df = pd.read_csv('test.csv')

In [31]:
train_df.sample(5)

        id  day  pressure  ...  winddirection  windspeed  rainfall
857    857  128    1005.9  ...           50.0       29.8         1
1230  1230  136    1006.6  ...          230.0       20.5         1
212    212  213    1010.5  ...          300.0       21.9         1
1963  1963  139    1008.4  ...           50.0       15.5         1
437    437   73    1016.0  ...           70.0       41.4         0

[5 rows x 13 columns]

In [32]:
test_df.sample(5)

       id  day  pressure  maxtemp  ...  cloud  sunshine  winddirection  windspeed
450  2640   86    1007.6     25.9  ...   88.0       0.3           30.0       13.3
185  2375  186    1008.1     31.0  ...   57.0       6.8          220.0        9.8
576  2766  212    1005.2     31.1  ...   86.0       4.3          180.0       12.4
114  2304  115    1009.8     28.4  ...   84.0       1.2          200.0       22.0
574  2764  210    1008.5     31.0  ...   43.0      10.0           20.0       13.7

[5 rows x 12 columns]

In [33]:
sample_df.sample(3)

       id  day  pressure  maxtemp  ...  cloud  sunshine  winddirection  windspeed
454  2644   90    1011.4     25.9  ...   85.0       1.6           80.0       12.0
706  2896  342    1018.9     17.2  ...   83.0       2.7           60.0       12.4
456  2646   92    1017.1     28.1  ...   89.0       2.7          240.0        8.6

[3 rows x 12 columns]

In [34]:
print(f"There are {train_df.shape[0]} rows and {train_df.shape[1]} columns")

There are 2190 rows and 13 columns

In [35]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2190 non-null   int64
 1   day            2190 non-null   int64
 2   pressure       2190 non-null   float64
 3   maxtemp        2190 non-null   float64
 4   temparature    2190 non-null   float64
 5   mintemp        2190 non-null   float64
 6   dewpoint       2190 non-null   float64
 7   humidity       2190 non-null   float64
 8   cloud          2190 non-null   float64
 9   sunshine       2190 non-null   float64
 10  winddirection  2190 non-null   float64
 11  windspeed      2190 non-null   float64
 12  rainfall       2190 non-null   int64
dtypes: float64(10), int64(3)
memory usage: 222.6 KB

In [36]:
train_df.isnull()

         id    day  pressure  ...  winddirection  windspeed  rainfall
0     False  False     False  ...          False      False     False
1     False  False     False  ...          False      False     False
2     False  False     False  ...          False      False     False
3     False  False     False  ...          False      False     False
4     False  False     False  ...          False      False     False
...     ...    ...       ...  ...            ...        ...       ...
2185  False  False     False  ...          False      False     False
2186  False  False     False  ...          False      False     False
2187  False  False     False  ...          False      False     False
2188  False  False     False  ...          False      False     False
2189  False  False     False  ...          False      False     False

[2190 rows x 13 columns]

In [37]:
train_df.isnull().sum()

id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    0
windspeed        0
rainfall         0
dtype: int64

In [59]:
train_df

        id  day  pressure  ...  winddirection  windspeed  rainfall
0        0    1    1017.4  ...           60.0       17.2         1
1        1    2    1019.5  ...           50.0       21.9         1
2        2    3    1024.1  ...           70.0       18.1         1
3        3    4    1013.4  ...           60.0       35.6         1
4        4    5    1021.8  ...           40.0       24.8         0
...    ...  ...       ...  ...            ...        ...       ...
2185  2185  361    1014.6  ...           40.0       22.1         1
2186  2186  362    1012.4  ...           50.0       35.3         1
2187  2187  363    1013.3  ...           40.0       32.9         1
2188  2188  364    1022.3  ...           40.0       18.0         1
2189  2189  365    1013.8  ...           70.0       48.0         1

[2190 rows x 13 columns]

In [61]:
# Dropping the id columns
train_df = train_df.drop('id', axis = 1)

In [62]:
train_df

      day  pressure  maxtemp  ...  winddirection  windspeed  rainfall
0       1    1017.4     21.2  ...           60.0       17.2         1
1       2    1019.5     16.2  ...           50.0       21.9         1
2       3    1024.1     19.4  ...           70.0       18.1         1
3       4    1013.4     18.1  ...           60.0       35.6         1
4       5    1021.8     21.3  ...           40.0       24.8         0
...   ...       ...      ...  ...            ...        ...       ...
2185  361    1014.6     23.2  ...           40.0       22.1         1
2186  362    1012.4     17.2  ...           50.0       35.3         1
2187  363    1013.3     19.0  ...           40.0       32.9         1
2188  364    1022.3     16.4  ...           40.0       18.0         1
2189  365    1013.8     21.2  ...           70.0       48.0         1

[2190 rows x 12 columns]

In [40]:
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [41]:
train_df.sample()

      day  pressure  maxtemp  ...  winddirection  windspeed  rainfall
2124  300    1017.7     28.2  ...           40.0       14.8         1

[1 rows x 12 columns]

# Train Test Split and Data Preprocessing

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = train_df.drop('rainfall', axis = 1)
y = train_df.rainfall

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 9)

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [43]:
X_train_scaled

array([[-0.28879544, -0.67917482,  1.43104226, ...,  2.12277774,
         1.20271606, -0.93787558],
       [ 1.02857277,  0.22042969, -0.00290135, ..., -0.20701085,
        -0.80666162,  0.01813276],
       [-0.94274081, -0.5909783 , -1.54306301, ..., -1.0390782 ,
        -0.68107552,  1.99117123],
       ...,
       [-0.42148001, -1.0319609 ,  1.16549715, ...,  1.4016527 ,
         1.45388827, -0.47004171],
       [ 1.58774344,  0.74960882, -1.7377961 , ..., -1.0390782 ,
        -0.55548941,  0.70971325],
       [-1.54929884,  1.68449194, -1.54306301, ..., -1.0390782 ,
        -1.05783383, -0.14459207]], shape=(1861, 11))

In [44]:
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

model = LogisticRegression()
model_name = 'Logistic Regression'

result_list = []
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

ar_score = accuracy_score(y_test, y_pred)
pre_score = precision_score(y_test, y_pred)
rec_score = recall_score(y_test, y_pred)
f_score = f1_score(y_test, y_pred)
roc_score = roc_auc_score(y_test, model.predict_proba(X_test_scaled)[:,1])

metrics_dict = {
    'model name': model_name,
    'accuracy score': ar_score,
    'precision score': pre_score,
    'recall score': rec_score,
    'f1-score': f_score,
    'roc_auc_score': roc_score 
    }

result_list.append(metrics_dict)

metric_df = pd.DataFrame(result_list)
metric_df

            model name  accuracy score  ...  f1-score  roc_auc_score
0  Logistic Regression        0.878419  ...   0.92126       0.922255

[1 rows x 6 columns]

In [45]:
metric_df.sort_values(by = ['accuracy score', 'roc_auc_score'], ascending = False)

            model name  accuracy score  ...  f1-score  roc_auc_score
0  Logistic Regression        0.878419  ...   0.92126       0.922255

[1 rows x 6 columns]

In [46]:
from sklearn.model_selection import GridSearchCV, StratifiedKFold


lg_params = {
    'penalty': ['l1', 'l2'],       # type of regularization
    'C': [0.01, 0.1, 1, 10, 100],  # inverse regularization strength
    'solver': ['liblinear', 'saga']
}


cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)


model = LogisticRegression()
params = lg_params


gridcv = GridSearchCV(estimator= model, cv = cv, scoring = 'roc_auc', verbose= 1, n_jobs = -1, param_grid= params)
gridcv.fit(X_train_scaled, y_train)
    
print(gridcv.best_params_)
print(gridcv.best_estimator_)
print(roc_auc_score(y_test, gridcv.predict_proba(X_test_scaled)[:,1]))

Fitting 5 folds for each of 20 candidates, totalling 100 fits
{'C': 0.1, 'penalty': 'l2', 'solver': 'liblinear'}
LogisticRegression(C=0.1, solver='liblinear')
0.9217201166180758

# Prediction on Test data

In [63]:
test_df.sample(5)

       id  day  pressure  maxtemp  ...  cloud  sunshine  winddirection  windspeed
273  2463  274    1017.7     24.2  ...   54.0       0.3           70.0       46.3
225  2415  226    1012.0     30.9  ...   60.0       8.5           60.0       15.4
355  2545  356    1018.5     21.0  ...   88.0       0.0           50.0       14.7
372  2562    8    1024.1     14.4  ...   88.0       0.0           70.0       33.2
164  2354  165    1008.2     33.3  ...   44.0      10.4          220.0       17.2

[5 rows x 12 columns]

In [48]:
test_df.shape

(730, 12)

In [49]:
test_df.isnull().sum()

id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    1
windspeed        0
dtype: int64

In [50]:
test_df.winddirection = test_df.winddirection.fillna(test_df.winddirection.mean())

In [51]:
test_df_copy = test_df
test_df_copy = test_df_copy.drop('id', axis = 1)

In [52]:
# Data Preprocessing
test_scaled_df = scaler.transform(test_df_copy)

# Prediction on test df
model= LogisticRegression(C=0.1, solver='liblinear', penalty= 'l2')
model.fit(X_train_scaled, y_train)

print(f"Roc-Auc Score: {roc_auc_score(y_test, model.predict_proba(X_test_scaled)[:,1])}")
y_pred = model.predict_proba(test_scaled_df)[:,1]
y_pred[:5]

Roc-Auc Score: 0.9217201166180758

array([0.97090674, 0.97718405, 0.91119499, 0.12322066, 0.05449471])

# Submissions

In [53]:
submission = pd.DataFrame({'id': test_df.id,
             'rainfall': y_pred})
submission

       id  rainfall
0    2190  0.970907
1    2191  0.977184
2    2192  0.911195
3    2193  0.123221
4    2194  0.054495
..    ...       ...
725  2915  0.969707
726  2916  0.884703
727  2917  0.962769
728  2918  0.982035
729  2919  0.920582

[730 rows x 2 columns]

In [ ]:
submission.to_csv('submission.csv', index = False)
print("Sucessfully saved!")

Sucessfully saved!

In [ ]:
import joblib

joblib.dump(model, 'model2.pkl')

['model2.pkl']

In [ ]:
import joblib

joblib.dump(scaler, 'scaler2.pkl')

['scaler2.pkl']