In [1]:
import numpy as np 
import pandas as pd

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sample_df = pd.read_csv('test.csv')

In [2]:
train_df.sample(5)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
1948,1948,124,1007.8,28.8,26.7,25.4,24.4,87.0,84.0,1.6,50.0,7.9,1
1916,1916,92,1012.5,23.4,22.8,20.4,19.3,91.0,88.0,0.1,70.0,33.4,1
1317,1317,223,1008.5,30.3,27.6,25.1,26.4,89.0,80.0,4.0,70.0,10.3,1
628,628,264,1015.7,29.0,26.9,24.8,20.0,76.0,49.0,10.8,60.0,14.3,0
2152,2152,328,1016.8,25.1,21.6,19.4,18.6,78.0,84.0,0.1,40.0,17.2,1

In [3]:
test_df.sample(5)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
674,2864,310,1017.5,23.2,21.5,19.1,18.8,80.0,83.0,0.0,70.0,32.9
571,2761,207,1010.5,31.8,27.6,25.9,24.3,65.0,50.0,7.7,20.0,12.6
165,2355,166,1006.9,31.9,30.1,28.3,26.2,79.0,69.0,11.5,200.0,11.3
597,2787,233,1012.8,28.4,26.5,25.8,23.2,87.0,82.0,2.5,80.0,22.0
636,2826,272,1015.9,31.6,28.1,26.7,24.2,70.0,38.0,8.6,200.0,20.8

In [4]:
sample_df.sample(3)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
78,2268,79,1023.8,26.1,25.6,23.7,19.2,73.0,60.0,7.7,70.0,14.7
669,2859,305,1017.0,26.8,23.1,22.3,20.5,81.0,88.0,1.1,80.0,31.9
159,2349,160,1008.9,32.7,29.6,27.2,25.4,87.0,82.0,5.7,220.0,10.3

In [5]:
print(f"There are {train_df.shape[0]} rows and {train_df.shape[1]} columns")

There are 2190 rows and 13 columns

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2190 non-null   int64
 1   day            2190 non-null   int64
 2   pressure       2190 non-null   float64
 3   maxtemp        2190 non-null   float64
 4   temparature    2190 non-null   float64
 5   mintemp        2190 non-null   float64
 6   dewpoint       2190 non-null   float64
 7   humidity       2190 non-null   float64
 8   cloud          2190 non-null   float64
 9   sunshine       2190 non-null   float64
 10  winddirection  2190 non-null   float64
 11  windspeed      2190 non-null   float64
 12  rainfall       2190 non-null   int64
dtypes: float64(10), int64(3)
memory usage: 222.6 KB

In [7]:
train_df.isnull()

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2185,False,False,False,False,False,False,False,False,False,False,False,False,False
2186,False,False,False,False,False,False,False,False,False,False,False,False,False
2187,False,False,False,False,False,False,False,False,False,False,False,False,False
2188,False,False,False,False,False,False,False,False,False,False,False,False,False
2189,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
train_df.isnull().sum()

id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    0
windspeed        0
rainfall         0
dtype: int64

In [9]:
train_df

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
0,0,1,1017.4,21.2,20.6,19.9,19.4,87.0,88.0,1.1,60.0,17.2,1
1,1,2,1019.5,16.2,16.9,15.8,15.4,95.0,91.0,0.0,50.0,21.9,1
2,2,3,1024.1,19.4,16.1,14.6,9.3,75.0,47.0,8.3,70.0,18.1,1
3,3,4,1013.4,18.1,17.8,16.9,16.8,95.0,95.0,0.0,60.0,35.6,1
4,4,5,1021.8,21.3,18.4,15.2,9.6,52.0,45.0,3.6,40.0,24.8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2185,2185,361,1014.6,23.2,20.6,19.1,19.9,97.0,88.0,0.1,40.0,22.1,1
2186,2186,362,1012.4,17.2,17.3,16.3,15.3,91.0,88.0,0.0,50.0,35.3,1
2187,2187,363,1013.3,19.0,16.3,14.3,12.6,79.0,79.0,5.0,40.0,32.9,1
2188,2188,364,1022.3,16.4,15.2,13.8,14.7,92.0,93.0,0.1,40.0,18.0,1
2189,2189,365,1013.8,21.2,19.1,18.0,18.0,89.0,88.0,1.0,70.0,48.0,1

In [10]:
# Dropping the id columns
train_df = train_df.drop('id', axis = 1)

In [11]:
train_df

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
0,1,1017.4,21.2,20.6,19.9,19.4,87.0,88.0,1.1,60.0,17.2,1
1,2,1019.5,16.2,16.9,15.8,15.4,95.0,91.0,0.0,50.0,21.9,1
2,3,1024.1,19.4,16.1,14.6,9.3,75.0,47.0,8.3,70.0,18.1,1
3,4,1013.4,18.1,17.8,16.9,16.8,95.0,95.0,0.0,60.0,35.6,1
4,5,1021.8,21.3,18.4,15.2,9.6,52.0,45.0,3.6,40.0,24.8,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2185,361,1014.6,23.2,20.6,19.1,19.9,97.0,88.0,0.1,40.0,22.1,1
2186,362,1012.4,17.2,17.3,16.3,15.3,91.0,88.0,0.0,50.0,35.3,1
2187,363,1013.3,19.0,16.3,14.3,12.6,79.0,79.0,5.0,40.0,32.9,1
2188,364,1022.3,16.4,15.2,13.8,14.7,92.0,93.0,0.1,40.0,18.0,1
2189,365,1013.8,21.2,19.1,18.0,18.0,89.0,88.0,1.0,70.0,48.0,1

In [12]:
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [13]:
train_df.sample()

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
1608,149,1009.9,33.7,29.1,28.9,25.7,79.0,56.0,7.1,100.0,39.5,1

# Train Test Split and Data Preprocessing

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = train_df.drop('rainfall', axis = 1)
y = train_df.rainfall

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 9)

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [15]:
X_train_scaled

array([[-0.28879544, -0.67917482,  1.43104226, ...,  2.12277774,
         1.20271606, -0.93787558],
       [ 1.02857277,  0.22042969, -0.00290135, ..., -0.20701085,
        -0.80666162,  0.01813276],
       [-0.94274081, -0.5909783 , -1.54306301, ..., -1.0390782 ,
        -0.68107552,  1.99117123],
       ...,
       [-0.42148001, -1.0319609 ,  1.16549715, ...,  1.4016527 ,
         1.45388827, -0.47004171],
       [ 1.58774344,  0.74960882, -1.7377961 , ..., -1.0390782 ,
        -0.55548941,  0.70971325],
       [-1.54929884,  1.68449194, -1.54306301, ..., -1.0390782 ,
        -1.05783383, -0.14459207]], shape=(1861, 11))

In [16]:
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

model = LogisticRegression()
model_name = 'Logistic Regression'

result_list = []
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

ar_score = accuracy_score(y_test, y_pred)
pre_score = precision_score(y_test, y_pred)
rec_score = recall_score(y_test, y_pred)
f_score = f1_score(y_test, y_pred)
roc_score = roc_auc_score(y_test, model.predict_proba(X_test_scaled)[:,1])

metrics_dict = {
    'model name': model_name,
    'accuracy score': ar_score,
    'precision score': pre_score,
    'recall score': rec_score,
    'f1-score': f_score,
    'roc_auc_score': roc_score 
    }

result_list.append(metrics_dict)

metric_df = pd.DataFrame(result_list)
metric_df

,model name,accuracy score,precision score,recall score,f1-score,roc_auc_score
0,Logistic Regression,0.878419,0.889734,0.955102,0.92126,0.922255

In [17]:
metric_df.sort_values(by = ['accuracy score', 'roc_auc_score'], ascending = False)

,model name,accuracy score,precision score,recall score,f1-score,roc_auc_score
0,Logistic Regression,0.878419,0.889734,0.955102,0.92126,0.922255

In [18]:
from sklearn.model_selection import GridSearchCV, StratifiedKFold


lg_params = {
    'penalty': ['l1', 'l2'],       # type of regularization
    'C': [0.01, 0.1, 1, 10, 100],  # inverse regularization strength
    'solver': ['liblinear', 'saga']
}


cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)


model = LogisticRegression()
params = lg_params


gridcv = GridSearchCV(estimator= model, cv = cv, scoring = 'roc_auc', verbose= 1, n_jobs = -1, param_grid= params)
gridcv.fit(X_train_scaled, y_train)
    
print(gridcv.best_params_)
print(gridcv.best_estimator_)
print(roc_auc_score(y_test, gridcv.predict_proba(X_test_scaled)[:,1]))

Fitting 5 folds for each of 20 candidates, totalling 100 fits
{'C': 0.1, 'penalty': 'l2', 'solver': 'liblinear'}
LogisticRegression(C=0.1, solver='liblinear')
0.9217201166180758

# Prediction on Test data

In [19]:
test_df.sample(5)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
630,2820,266,1012.7,30.3,27.5,24.0,23.2,75.0,51.0,8.5,110.0,15.8
10,2200,11,1017.5,17.6,16.6,15.5,15.8,95.0,100.0,0.0,50.0,29.0
491,2681,127,1013.2,29.1,26.8,25.4,25.4,93.0,84.0,1.6,60.0,33.4
75,2265,76,1021.4,26.9,18.6,17.4,16.5,84.0,88.0,1.2,40.0,39.5
517,2707,153,1007.8,32.9,30.6,28.9,22.0,65.0,75.0,8.2,NaN,17.2

In [20]:
test_df.shape

(730, 12)

In [21]:
test_df.isnull().sum()

id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    1
windspeed        0
dtype: int64

In [22]:
test_df.winddirection = test_df.winddirection.fillna(test_df.winddirection.mean())

In [23]:
test_df_copy = test_df
test_df_copy = test_df_copy.drop('id', axis = 1)

In [24]:
# Data Preprocessing
test_scaled_df = scaler.transform(test_df_copy)

# Prediction on test df
model= LogisticRegression(C=0.1, solver='liblinear', penalty= 'l2')
model.fit(X_train_scaled, y_train)

print(f"Roc-Auc Score: {roc_auc_score(y_test, model.predict_proba(X_test_scaled)[:,1])}")
y_pred = model.predict_proba(test_scaled_df)[:,1]
y_pred[:5]

Roc-Auc Score: 0.9217201166180758

array([0.97090674, 0.97718405, 0.91119499, 0.12322066, 0.05449471])

# Submissions

In [25]:
submission = pd.DataFrame({'id': test_df.id,
             'rainfall': y_pred})
submission

       id  rainfall
0    2190  0.970907
1    2191  0.977184
2    2192  0.911195
3    2193  0.123221
4    2194  0.054495
..    ...       ...
725  2915  0.969707
726  2916  0.884703
727  2917  0.962769
728  2918  0.982035
729  2919  0.920582

[730 rows x 2 columns]

In [26]:
submission.to_csv('submission.csv', index = False)
print("Sucessfully saved!")

Sucessfully saved!

In [27]:
import joblib

joblib.dump(model, 'model.pkl')

['model.pkl']

In [28]:
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']