In [1]:
import numpy as np 
import pandas as pd

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sample_df = pd.read_csv('test.csv')

In [2]:
train_df.sample(5)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
706,706,342,1017.7,17.5,16.4,15.6,15.5,93.0,95.0,0.3,60.0,25.9,1
1862,1862,38,1020.6,25.1,21.8,19.2,16.4,71.0,88.0,0.6,20.0,40.0,1
2029,2029,205,1009.9,31.9,28.8,27.4,26.1,84.0,88.0,2.7,80.0,17.2,1
160,160,161,1008.1,31.7,29.5,27.5,25.5,84.0,63.0,8.9,130.0,14.0,0
615,615,251,1005.7,32.8,29.1,27.9,26.1,79.0,30.0,7.2,230.0,38.0,0

In [3]:
test_df.sample(5)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
261,2451,262,1008.4,28.8,27.1,24.3,25.2,94.0,87.0,0.0,120.0,14.1
21,2211,22,1024.1,21.7,15.2,10.1,11.0,72.0,49.0,5.6,40.0,15.4
150,2340,151,1004.3,33.8,30.4,28.2,25.9,79.0,100.0,3.2,40.0,21.9
354,2544,355,1018.1,19.0,17.3,16.1,15.1,91.0,86.0,0.6,50.0,32.2
233,2423,234,1007.7,27.9,25.8,24.6,24.4,93.0,88.0,0.4,100.0,28.0

In [4]:
sample_df.sample(3)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
628,2818,264,1016.8,31.1,28.1,26.8,22.7,78.0,47.0,8.6,60.0,14.5
571,2761,207,1010.5,31.8,27.6,25.9,24.3,65.0,50.0,7.7,20.0,12.6
81,2271,82,1010.3,24.7,23.9,22.3,21.2,92.0,88.0,0.2,70.0,39.7

In [5]:
print(f"There are {train_df.shape[0]} rows and {train_df.shape[1]} columns")

There are 2190 rows and 13 columns

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2190 non-null   int64
 1   day            2190 non-null   int64
 2   pressure       2190 non-null   float64
 3   maxtemp        2190 non-null   float64
 4   temparature    2190 non-null   float64
 5   mintemp        2190 non-null   float64
 6   dewpoint       2190 non-null   float64
 7   humidity       2190 non-null   float64
 8   cloud          2190 non-null   float64
 9   sunshine       2190 non-null   float64
 10  winddirection  2190 non-null   float64
 11  windspeed      2190 non-null   float64
 12  rainfall       2190 non-null   int64
dtypes: float64(10), int64(3)
memory usage: 222.6 KB

In [7]:
train_df.isnull().sum()

id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    0
windspeed        0
rainfall         0
dtype: int64

In [8]:
# Dropping the id columns
train_df = train_df.drop('id', axis = 1)

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [10]:
train_df.sample()

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
2107,283,1015.4,28.9,25.4,23.4,19.6,75.0,51.0,7.7,40.0,22.8,0

# Train Test Split and Data Preprocessing

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = train_df.drop('rainfall', axis = 1)
y = train_df.rainfall

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 9)

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
X_train_scaled

array([[-0.28879544, -0.67917482,  1.43104226, ...,  2.12277774,
         1.20271606, -0.93787558],
       [ 1.02857277,  0.22042969, -0.00290135, ..., -0.20701085,
        -0.80666162,  0.01813276],
       [-0.94274081, -0.5909783 , -1.54306301, ..., -1.0390782 ,
        -0.68107552,  1.99117123],
       ...,
       [-0.42148001, -1.0319609 ,  1.16549715, ...,  1.4016527 ,
         1.45388827, -0.47004171],
       [ 1.58774344,  0.74960882, -1.7377961 , ..., -1.0390782 ,
        -0.55548941,  0.70971325],
       [-1.54929884,  1.68449194, -1.54306301, ..., -1.0390782 ,
        -1.05783383, -0.14459207]], shape=(1861, 11))

In [13]:
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

model = LogisticRegression()
model_name = 'Logistic Regression'

result_list = []
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

ar_score = accuracy_score(y_test, y_pred)
pre_score = precision_score(y_test, y_pred)
rec_score = recall_score(y_test, y_pred)
f_score = f1_score(y_test, y_pred)
roc_score = roc_auc_score(y_test, model.predict_proba(X_test_scaled)[:,1])

metrics_dict = {
    'model name': model_name,
    'accuracy score': ar_score,
    'precision score': pre_score,
    'recall score': rec_score,
    'f1-score': f_score,
    'roc_auc_score': roc_score 
    }

result_list.append(metrics_dict)

metric_df = pd.DataFrame(result_list)
metric_df

,model name,accuracy score,precision score,recall score,f1-score,roc_auc_score
0,Logistic Regression,0.878419,0.889734,0.955102,0.92126,0.922255

In [14]:
metric_df.sort_values(by = ['accuracy score', 'roc_auc_score'], ascending = False)

,model name,accuracy score,precision score,recall score,f1-score,roc_auc_score
0,Logistic Regression,0.878419,0.889734,0.955102,0.92126,0.922255

In [15]:
from sklearn.model_selection import GridSearchCV, StratifiedKFold


lg_params = {
    'penalty': ['l1', 'l2'],       # type of regularization
    'C': [0.01, 0.1, 1, 10, 100],  # inverse regularization strength
    'solver': ['liblinear', 'saga']
}


cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

gridcv_models = [
    ("Logistic Regression", LogisticRegression(), lg_params)
]


for model_name, model, params in gridcv_models:
    gridcv = GridSearchCV(estimator= model, cv = cv, scoring = 'roc_auc', verbose= 1, n_jobs = -1, param_grid= params)
    gridcv.fit(X_train_scaled, y_train)
    
    print(f"---------------{model_name}---------------")
    print(gridcv.best_params_)
    print(gridcv.best_estimator_)
    print(roc_auc_score(y_test, gridcv.predict_proba(X_test_scaled)[:,1]))

Fitting 5 folds for each of 20 candidates, totalling 100 fits
---------------Logistic Regression---------------
{'C': 0.1, 'penalty': 'l2', 'solver': 'liblinear'}
LogisticRegression(C=0.1, solver='liblinear')
0.9217201166180758

# Prediction on Test data

In [16]:
test_df.sample(5)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
473,2663,109,1012.0,27.5,25.8,24.3,23.4,82.0,82.0,3.2,80.0,24.9
107,2297,108,1008.5,31.1,28.2,26.5,25.3,79.0,82.0,2.4,70.0,20.0
480,2670,116,1013.4,30.6,27.8,24.7,24.2,87.0,88.0,1.5,20.0,14.5
638,2828,274,1016.8,29.1,26.2,24.8,19.3,78.0,53.0,10.1,20.0,43.8
639,2829,275,1011.2,27.9,25.9,23.8,22.5,87.0,88.0,0.6,120.0,40.0

In [17]:
test_df.shape

(730, 12)

In [18]:
test_df.isnull().sum()

id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    1
windspeed        0
dtype: int64

In [19]:
test_df.winddirection = test_df.winddirection.fillna(test_df.winddirection.mean())

In [20]:
test_df_copy = test_df
test_df_copy = test_df_copy.drop('id', axis = 1)

In [21]:
# Data Preprocessing
test_scaled_df = scaler.transform(test_df_copy)

# Prediction on test df
model= LogisticRegression(C=0.1, solver='liblinear', penalty= 'l2')
model.fit(X_train_scaled, y_train)

print(f"Roc-Auc Score: {roc_auc_score(y_test, model.predict_proba(X_test_scaled)[:,1])}")
y_pred = model.predict_proba(test_scaled_df)[:,1]
y_pred[:5]

Roc-Auc Score: 0.9217201166180758

array([0.97090674, 0.97718405, 0.91119499, 0.12322066, 0.05449471])

# Submissions

In [22]:
submission = pd.DataFrame({'id': test_df.id,
             'rainfall': y_pred})
submission

       id  rainfall
0    2190  0.970907
1    2191  0.977184
2    2192  0.911195
3    2193  0.123221
4    2194  0.054495
..    ...       ...
725  2915  0.969707
726  2916  0.884703
727  2917  0.962769
728  2918  0.982035
729  2919  0.920582

[730 rows x 2 columns]

In [23]:
submission.to_csv('submission.csv', index = False)
print("Sucessfully saved!")

Sucessfully saved!

In [27]:
import joblib

# Replace `model` with your trained model variable name
joblib.dump(model, 'model2.pkl')

['model2.pkl']

In [26]:
import joblib

# Replace `model` with your trained model variable name
joblib.dump(scaler, 'scaler2.pkl')

['scaler2.pkl']