In [1]:
import numpy as np 
import pandas as pd

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sample_df = pd.read_csv('test.csv')

In [2]:
train_df.sample(5)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
74,74,75,1012.0,23.1,21.6,20.4,19.9,90.0,87.0,0.5,40.0,26.0,1
2155,2155,331,1020.4,17.4,15.2,14.0,-0.3,45.0,17.0,8.5,50.0,15.4,0
1180,1180,86,1014.2,26.3,23.1,21.0,22.3,97.0,93.0,0.0,50.0,8.6,1
1409,1409,112,1019.9,21.9,21.0,20.4,18.0,79.0,84.0,0.0,50.0,25.0,1
1276,1276,182,1010.5,32.0,29.1,27.0,25.0,85.0,83.0,6.5,250.0,21.9,0

In [3]:
test_df.sample(5)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
594,2784,230,1012.2,28.2,27.5,25.4,25.4,90.0,86.0,0.6,60.0,24.9
323,2513,324,1018.1,18.8,17.7,15.3,16.7,90.0,91.0,0.6,40.0,12.7
328,2518,329,1020.4,21.0,18.4,17.2,14.3,78.0,86.0,0.4,30.0,23.9
51,2241,52,1014.4,19.3,17.8,16.9,16.1,90.0,100.0,0.0,60.0,27.3
444,2634,80,1010.3,21.6,20.6,18.9,16.6,77.0,68.0,4.5,40.0,16.9

In [4]:
sample_df.sample(3)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
681,2871,317,1018.7,21.2,19.1,17.6,17.4,82.0,89.0,0.0,70.0,20.5
277,2467,278,1019.0,27.0,23.7,21.7,16.9,77.0,49.0,9.2,70.0,26.5
505,2695,141,1008.2,31.0,27.9,26.6,25.0,84.0,87.0,1.2,230.0,55.5

In [5]:
print(f"There are {train_df.shape[0]} rows and {train_df.shape[1]} columns")

There are 2190 rows and 13 columns

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2190 non-null   int64
 1   day            2190 non-null   int64
 2   pressure       2190 non-null   float64
 3   maxtemp        2190 non-null   float64
 4   temparature    2190 non-null   float64
 5   mintemp        2190 non-null   float64
 6   dewpoint       2190 non-null   float64
 7   humidity       2190 non-null   float64
 8   cloud          2190 non-null   float64
 9   sunshine       2190 non-null   float64
 10  winddirection  2190 non-null   float64
 11  windspeed      2190 non-null   float64
 12  rainfall       2190 non-null   int64
dtypes: float64(10), int64(3)
memory usage: 222.6 KB

In [7]:
train_df.isnull().sum()

id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    0
windspeed        0
rainfall         0
dtype: int64

In [8]:
# Dropping the id columns
train_df = train_df.drop('id', axis = 1)

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [10]:
train_df.sample()

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
1149,55,1022.3,17.5,18.2,16.9,14.3,92.0,96.0,0.0,40.0,19.0,1

# Train Test Split and Data Preprocessing

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = train_df.drop('rainfall', axis = 1)
y = train_df.rainfall

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 9)

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
X_train_scaled

array([[-0.28879544, -0.67917482,  1.43104226, ...,  2.12277774,
         1.20271606, -0.93787558],
       [ 1.02857277,  0.22042969, -0.00290135, ..., -0.20701085,
        -0.80666162,  0.01813276],
       [-0.94274081, -0.5909783 , -1.54306301, ..., -1.0390782 ,
        -0.68107552,  1.99117123],
       ...,
       [-0.42148001, -1.0319609 ,  1.16549715, ...,  1.4016527 ,
         1.45388827, -0.47004171],
       [ 1.58774344,  0.74960882, -1.7377961 , ..., -1.0390782 ,
        -0.55548941,  0.70971325],
       [-1.54929884,  1.68449194, -1.54306301, ..., -1.0390782 ,
        -1.05783383, -0.14459207]], shape=(1861, 11))

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

models = {
          "Logistic Regression": LogisticRegression(),
          "Decision Tree": DecisionTreeClassifier(),
          "AdaBoost": AdaBoostClassifier(),
          "Gradient Boost": GradientBoostingClassifier(),
          "XGBoost": XGBClassifier(),
          "KNN": KNeighborsClassifier()
         }

result_list = []
for model_name, model in models.items():
    model.fit(X_train_scaled, y_train)
    y_pred = model.predict(X_test_scaled)

    ar_score = accuracy_score(y_test, y_pred)
    pre_score = precision_score(y_test, y_pred)
    rec_score = recall_score(y_test, y_pred)
    f_score = f1_score(y_test, y_pred)
    roc_score = roc_auc_score(y_test, model.predict_proba(X_test_scaled)[:,1])

    metrics_dict = {
    'model name': model_name,
    'accuracy score': ar_score,
    'precision score': pre_score,
    'recall score': rec_score,
    'f1-score': f_score,
    'roc_auc_score': roc_score 
    }

    result_list.append(metrics_dict)

metric_df = pd.DataFrame(result_list)
metric_df

,model name,accuracy score,precision score,recall score,f1-score,roc_auc_score
0,Logistic Regression,0.878419,0.889734,0.955102,0.921260,0.922255
1,Decision Tree,0.814590,0.870968,0.881633,0.876268,0.750340
2,AdaBoost,0.869301,0.885496,0.946939,0.915187,0.914480
3,Gradient Boost,0.881459,0.884328,0.967347,0.923977,0.904665
4,XGBoost,0.875380,0.875000,0.971429,0.920696,0.884062
5,KNN,0.848024,0.865169,0.942857,0.902344,0.860909

In [14]:
metric_df.sort_values(by = ['accuracy score', 'roc_auc_score'], ascending = False)

,model name,accuracy score,precision score,recall score,f1-score,roc_auc_score
3,Gradient Boost,0.881459,0.884328,0.967347,0.923977,0.904665
0,Logistic Regression,0.878419,0.889734,0.955102,0.921260,0.922255
4,XGBoost,0.875380,0.875000,0.971429,0.920696,0.884062
2,AdaBoost,0.869301,0.885496,0.946939,0.915187,0.914480
5,KNN,0.848024,0.865169,0.942857,0.902344,0.860909
1,Decision Tree,0.814590,0.870968,0.881633,0.876268,0.750340

In [15]:
from sklearn.model_selection import GridSearchCV, StratifiedKFold

lg_params = {
    'penalty': ['l1', 'l2'],       # type of regularization
    'C': [0.01, 0.1, 1, 10, 100],  # inverse regularization strength
    'solver': ['liblinear', 'saga']
}

gb_params = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.05, 0.1, 0.01],
    'max_depth': [3, 5, 7],
    'subsample': [0.8, 1.0]
}

cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

gridcv_models = [
    ("Gradient Boost Classifier", GradientBoostingClassifier(), gb_params),
    ("Logistic Regression", LogisticRegression(), lg_params)
]


for model_name, model, params in gridcv_models:
    gridcv = GridSearchCV(estimator= model, cv = cv, scoring = 'roc_auc', verbose= 1, n_jobs = -1, param_grid= params)
    gridcv.fit(X_train_scaled, y_train)
    
    print(f"---------------{model_name}---------------")
    print(gridcv.best_params_)
    print(gridcv.best_estimator_)
    print(roc_auc_score(y_test, gridcv.predict_proba(X_test_scaled)[:,1]))

Fitting 5 folds for each of 54 candidates, totalling 270 fits
---------------Gradient Boost Classifier---------------
{'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 200, 'subsample': 0.8}
GradientBoostingClassifier(learning_rate=0.01, n_estimators=200, subsample=0.8)
0.9135325558794946
Fitting 5 folds for each of 20 candidates, totalling 100 fits
---------------Logistic Regression---------------
{'C': 0.1, 'penalty': 'l2', 'solver': 'liblinear'}
LogisticRegression(C=0.1, solver='liblinear')
0.9217201166180758

# Prediction on Test data

In [16]:
test_df.sample(5)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
603,2793,239,1008.4,31.6,27.7,26.7,25.1,93.0,88.0,0.5,220.0,39.5
215,2405,216,1005.9,31.0,28.1,26.5,25.0,79.0,82.0,1.7,50.0,13.2
85,2275,86,1013.4,24.9,23.1,21.0,22.3,95.0,83.0,0.0,40.0,19.0
614,2804,250,1006.6,32.1,29.7,28.1,25.3,84.0,88.0,3.3,230.0,20.9
117,2307,118,1012.0,30.0,26.8,24.8,23.1,81.0,84.0,3.2,70.0,11.8

In [17]:
test_df.shape

(730, 12)

In [18]:
test_df.isnull().sum()

id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    1
windspeed        0
dtype: int64

In [19]:
test_df.winddirection = test_df.winddirection.fillna(test_df.winddirection.mean())

In [20]:
test_df_copy = test_df
test_df_copy = test_df_copy.drop('id', axis = 1)

In [21]:
# Data Preprocessing
test_scaled_df = scaler.transform(test_df_copy)

# Prediction on test df
model= LogisticRegression(C=0.1, solver='liblinear', penalty= 'l2')
model.fit(X_train_scaled, y_train)

print(f"Roc-Auc Score: {roc_auc_score(y_test, model.predict_proba(X_test_scaled)[:,1])}")
y_pred = model.predict_proba(test_scaled_df)[:,1]
y_pred[:5]

Roc-Auc Score: 0.9217201166180758

array([0.97090674, 0.97718405, 0.91119499, 0.12322066, 0.05449471])

# Submissions

In [22]:
submission = pd.DataFrame({'id': test_df.id,
             'rainfall': y_pred})
submission

       id  rainfall
0    2190  0.970907
1    2191  0.977184
2    2192  0.911195
3    2193  0.123221
4    2194  0.054495
..    ...       ...
725  2915  0.969707
726  2916  0.884703
727  2917  0.962769
728  2918  0.982035
729  2919  0.920582

[730 rows x 2 columns]

In [23]:
submission.to_csv('submission.csv', index = False)
print("Sucessfully saved!")

Sucessfully saved!

In [24]:
import joblib

# Replace `model` with your trained model variable name
joblib.dump(model, 'model3.pkl')

['model3.pkl']

In [25]:
import joblib

# Replace `model` with your trained model variable name
joblib.dump(scaler, 'scaler3.pkl')

['scaler3.pkl']