In [7]:
import numpy as np 
import pandas as pd

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sample_df = pd.read_csv('test.csv')

In [8]:
train_df.sample(5)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
280,280,281,1014.1,28.2,25.3,23.2,22.1,76.0,46.0,8.8,40.0,10.9,1
1129,1129,35,1019.9,25.9,22.9,18.1,16.1,90.0,89.0,2.0,40.0,28.9,1
1489,1489,30,1025.8,17.3,15.4,13.3,3.7,64.0,91.0,2.4,70.0,18.0,0
596,596,232,1011.4,31.7,28.9,25.2,23.1,74.0,32.0,9.1,10.0,11.9,0
619,619,255,1005.5,31.5,29.8,26.8,25.8,75.0,38.0,11.0,70.0,13.1,1

In [9]:
test_df.sample(5)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
459,2649,95,1014.9,25.2,23.6,22.2,22.6,88.0,88.0,1.7,50.0,26.0
434,2624,70,1016.4,15.3,13.9,12.7,11.6,90.0,100.0,0.0,40.0,20.7
387,2577,23,1017.6,21.1,18.3,17.6,17.0,98.0,97.0,0.0,70.0,24.4
56,2246,57,1012.3,15.3,13.3,11.7,11.5,85.0,93.0,0.1,70.0,19.8
214,2404,215,1000.3,30.6,28.0,26.2,25.4,84.0,87.0,0.7,240.0,12.3

In [10]:
sample_df.sample(3)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
176,2366,177,1008.7,32.0,28.1,26.2,25.1,87.0,83.0,1.2,230.0,20.5
565,2755,201,1011.4,35.7,31.1,27.7,24.8,75.0,66.0,6.9,10.0,19.8
704,2894,340,1023.9,18.1,16.4,14.8,11.7,75.0,49.0,8.4,20.0,33.2

In [11]:
print(f"There are {train_df.shape[0]} rows and {train_df.shape[1]} columns")

There are 2190 rows and 13 columns

In [12]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2190 non-null   int64
 1   day            2190 non-null   int64
 2   pressure       2190 non-null   float64
 3   maxtemp        2190 non-null   float64
 4   temparature    2190 non-null   float64
 5   mintemp        2190 non-null   float64
 6   dewpoint       2190 non-null   float64
 7   humidity       2190 non-null   float64
 8   cloud          2190 non-null   float64
 9   sunshine       2190 non-null   float64
 10  winddirection  2190 non-null   float64
 11  windspeed      2190 non-null   float64
 12  rainfall       2190 non-null   int64
dtypes: float64(10), int64(3)
memory usage: 222.6 KB

In [13]:
train_df.isnull().sum()

id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    0
windspeed        0
rainfall         0
dtype: int64

In [14]:
# Dropping the id columns
train_df = train_df.drop('id', axis = 1)

In [15]:
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [16]:
train_df.sample()

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
2099,275,1014.5,24.8,22.4,20.4,20.7,95.0,85.0,0.0,60.0,38.0,1

# Train Test Split and Data Preprocessing

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = train_df.drop('rainfall', axis = 1)
y = train_df.rainfall

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 9)

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [18]:
X_train_scaled

array([[-0.28879544, -0.67917482,  1.43104226, ...,  2.12277774,
         1.20271606, -0.93787558],
       [ 1.02857277,  0.22042969, -0.00290135, ..., -0.20701085,
        -0.80666162,  0.01813276],
       [-0.94274081, -0.5909783 , -1.54306301, ..., -1.0390782 ,
        -0.68107552,  1.99117123],
       ...,
       [-0.42148001, -1.0319609 ,  1.16549715, ...,  1.4016527 ,
         1.45388827, -0.47004171],
       [ 1.58774344,  0.74960882, -1.7377961 , ..., -1.0390782 ,
        -0.55548941,  0.70971325],
       [-1.54929884,  1.68449194, -1.54306301, ..., -1.0390782 ,
        -1.05783383, -0.14459207]], shape=(1861, 11))

In [19]:
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

model = LogisticRegression()
model_name = 'Logistic Regression'

result_list = []
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

ar_score = accuracy_score(y_test, y_pred)
pre_score = precision_score(y_test, y_pred)
rec_score = recall_score(y_test, y_pred)
f_score = f1_score(y_test, y_pred)
roc_score = roc_auc_score(y_test, model.predict_proba(X_test_scaled)[:,1])

metrics_dict = {
    'model name': model_name,
    'accuracy score': ar_score,
    'precision score': pre_score,
    'recall score': rec_score,
    'f1-score': f_score,
    'roc_auc_score': roc_score 
    }

result_list.append(metrics_dict)

metric_df = pd.DataFrame(result_list)
metric_df

,model name,accuracy score,precision score,recall score,f1-score,roc_auc_score
0,Logistic Regression,0.878419,0.889734,0.955102,0.92126,0.922255

In [20]:
metric_df.sort_values(by = ['accuracy score', 'roc_auc_score'], ascending = False)

,model name,accuracy score,precision score,recall score,f1-score,roc_auc_score
0,Logistic Regression,0.878419,0.889734,0.955102,0.92126,0.922255

In [32]:
from sklearn.model_selection import GridSearchCV, StratifiedKFold


lg_params = {
    'penalty': ['l1', 'l2'],       # type of regularization
    'C': [0.01, 0.1, 1, 10, 100],  # inverse regularization strength
    'solver': ['liblinear', 'saga']
}


cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)


model = LogisticRegression()
params = lg_params


gridcv = GridSearchCV(estimator= model, cv = cv, scoring = 'roc_auc', verbose= 1, n_jobs = -1, param_grid= params)
gridcv.fit(X_train_scaled, y_train)
    
print(gridcv.best_params_)
print(gridcv.best_estimator_)
print(roc_auc_score(y_test, gridcv.predict_proba(X_test_scaled)[:,1]))

Fitting 5 folds for each of 20 candidates, totalling 100 fits
{'C': 0.1, 'penalty': 'l2', 'solver': 'liblinear'}
LogisticRegression(C=0.1, solver='liblinear')
0.9217201166180758

# Prediction on Test data

In [22]:
test_df.sample(5)

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
94,2284,95,1012.3,25.3,23.1,21.3,21.4,86.0,88.0,0.2,200.0,13.3
11,2201,12,1021.5,16.5,13.3,11.3,9.8,70.0,49.0,9.7,20.0,33.4
294,2484,295,1014.6,26.3,23.7,21.3,21.4,75.0,85.0,2.4,90.0,15.3
373,2563,9,1017.4,17.0,15.1,16.1,12.5,81.0,100.0,0.0,30.0,39.7
723,2913,359,1016.4,17.6,16.5,15.4,15.4,91.0,89.0,0.0,50.0,25.9

In [23]:
test_df.shape

(730, 12)

In [24]:
test_df.isnull().sum()

id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    1
windspeed        0
dtype: int64

In [25]:
test_df.winddirection = test_df.winddirection.fillna(test_df.winddirection.mean())

In [26]:
test_df_copy = test_df
test_df_copy = test_df_copy.drop('id', axis = 1)

In [27]:
# Data Preprocessing
test_scaled_df = scaler.transform(test_df_copy)

# Prediction on test df
model= LogisticRegression(C=0.1, solver='liblinear', penalty= 'l2')
model.fit(X_train_scaled, y_train)

print(f"Roc-Auc Score: {roc_auc_score(y_test, model.predict_proba(X_test_scaled)[:,1])}")
y_pred = model.predict_proba(test_scaled_df)[:,1]
y_pred[:5]

Roc-Auc Score: 0.9217201166180758

array([0.97090674, 0.97718405, 0.91119499, 0.12322066, 0.05449471])

# Submissions

In [28]:
submission = pd.DataFrame({'id': test_df.id,
             'rainfall': y_pred})
submission

       id  rainfall
0    2190  0.970907
1    2191  0.977184
2    2192  0.911195
3    2193  0.123221
4    2194  0.054495
..    ...       ...
725  2915  0.969707
726  2916  0.884703
727  2917  0.962769
728  2918  0.982035
729  2919  0.920582

[730 rows x 2 columns]

In [29]:
submission.to_csv('submission.csv', index = False)
print("Sucessfully saved!")

Sucessfully saved!

In [30]:
import joblib

# Replace `model` with your trained model variable name
joblib.dump(model, 'model2.pkl')

['model2.pkl']

In [31]:
import joblib

# Replace `model` with your trained model variable name
joblib.dump(scaler, 'scaler2.pkl')

['scaler2.pkl']